$color-blue: #4876c3;
$color-white: white;
$color-orange: #ffc120;


$mobile: "screen and (max-width: 768px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1024px)";
$desktop: "only screen and (min-width: 1025px)";
