<div class="body">
    <div class="group">
      <div class="group-form">
        <div class="flex">
          <input type="checkbox" class="group-form__checkbox" />
          <label class="group-form__label"l>Мои</label>
        </div>
          <input  type="text" placeholder="Автор"  class="group-form__input">
      </div>
      <div class="group-form">
        <div class="flex">
          <p>Сорировать По:</p>
        </div>
        <select  class="group-form__selected">
          <option selected="selected" value="Дате">Дате</option>
        </select>
      </div>
      <div class="group-form">
        <div class="flex-between">
          <div class="flex">
            <input type="checkbox" class="group-form__checkbox"  />
            <label class="group-form__label"l>я учатсник</label>
          </div>
          <div class="flex">
            <input type="checkbox" class="group-form__checkbox" />
            <label class="group-form__label"l>в заголовке</label>
          </div>
          <div class="flex">
            <input type="checkbox" class="group-form__checkbox" />
            <label class="group-form__label"l>строгий поиск</label>
          </div>
        </div>
      </div>
    </div>
</div>
